body {
	font-family: Georgia, serif;
	background-color: #FFFFFF;
	margin: 0;
	padding: .5vw 2vw;
	color: #333333;
}

#logo-image {
	width: 30px;
	margin-right: 10px;
}

/* Add your own custom styles here */

/* NAVBAR */
a,
a > div > h1,
a > div > h2,
a > div > h3,
a > div > h4,
a > div > h5,
a > div > p {
	text-decoration: none;
	color: #333333;
}


nav {
	display: flex;
	justify-content: space-around;
	background-color: #005f00;
	padding: .25rem;
	margin-bottom: 2rem;
	width: 100%;
	cursor: pointer;
	font-weight: 600;
	font-size: 1.25rem;
}

nav a {
	color: #ffffff;
	padding: 1rem;
	transition-duration: .15s;
}

nav a:hover {
	color: #74b362;
}

.selected {
	color: #74b362;
	text-decoration: underline #74b362;
}

.requiresLogin {
	color: #999999;
}



/* HOME */
.homeContainer {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
.registerNowLink {
	text-decoration: underline;
	color:#005f00;
}



/* ALL BOOKS */
.booksContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.book {
	display: flex;
	flex-direction: column;
	border: 3px solid #93a2ce;
	background-color: antiquewhite;
	border-radius: 10px;
	justify-content: start;
	align-items: center;
	gap: 1rem;
	text-align: center;
	line-height: 1rem;
	width: 20rem;
	padding: 1rem;
	margin: 1rem;
	box-shadow: 8px 8px 2px 1px rgba(147, 162, 206, 0.2);
}

.bookImage {
	width: 250px;
	/* height: 325px; */
}



/* SINGLE BOOK */
.singleBookContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2vh;
}

.singleBookLayout {
	display: flex;
	justify-content: start;
	gap: 3rem;
	align-items: center;
	border: 3px solid #93a2ce;
	background-color: #faebd7;
	border-radius: 10px;
	width: 70vw;
	min-width: 800px;
	max-width: 1100px;
	justify-self: center;
	box-shadow: 8px 8px 2px 1px rgba(147, 162, 206, 0.2);
}

.singleBookLeft {
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 400px; */
	margin: 0;
	padding: 1rem;
}

.singleBookRight {
	width: 50%;
}

.isAvailable {
	color: #005f00;
	font-style: italic;
}

.notAvailable {
	color: #9d2020;
	font-style: italic;
}



/* RESERVATION */
.reservationContainer{
}
.reservationID{
	text-align: center;
}



/* SEARCH */
.nameSearch {
	color: #005f00;
}



/* LOGIN FORMS */
.loginContainer {
	display: flex;
	justify-content: start;
	flex-wrap: nowrap;
	align-items: center;
	gap: 1rem;
	margin-bottom: 2rem;
	height: 100%;
}

.loginBox {
	border: 2px solid #999999;
	border-radius: 20px;
	width: 300px;
	min-width: 300px;
	height: 140px;
	padding: 1vh;
}

.loginPrompt {
	border: 3px solid #93a2ce;
	background-color: #faebd7;
	box-shadow: 8px 8px 2px 1px rgba(147, 162, 206, 0.2);
}

.createAccountStyle {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-self: center;
	justify-content: center;
	color: #005f00;
	border: 3px solid #149240;
	background-color: #74b362;
	box-shadow: 8px 8px 2px 1px #169c1433;
}

.createAccountStyle > button {
	width: 100px;
	align-self: center;
}



/* REGISTER */
.registerContainer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-self: center;
	gap: 10px;
}

.registerForm {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 10px;
	border: 2px solid #999999;
	border-radius: 20px;
	width: 300px;
	min-width: 300px;
	/* height: 140px; */
	padding: 2vh;
	color: #005f00;
	border: 3px solid #149240;
	background-color: #74b362;
	/* box-shadow: 8px 8px 2px 1px #169c1433; */
}

.registerForm>label>input {
	width: 98%;
	height: 2rem;
	font-size: 1rem;
}

.registerForm>button {
	margin-top: 20px;
	align-self: center;
	width: 50%;
	height: 30px;

}



/* ACCOUNT */
.userData {
	color: #149240;
	font-weight: 600;
}

.userDataLink {
	color: #149240;
	font-weight: 600;
	text-decoration: underline !important;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}