body {
	font-family: Georgia, serif;
	background-color: #f8f8f8;
	margin: 0;
	padding: .5vw 2vw;
}

#logo-image {
	width: 30px;
	margin-right: 10px;
}

/* Add your own custom styles here */

a {
	text-decoration: none;
}

/* ALL BOOKS */
.booksContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.book {
	display: flex;
	flex-direction: column;
	border: 3px solid rgb(147, 162, 206);
	background-color: antiquewhite;
	border-radius: 10px;
	justify-content: start;
	align-items: center;
	gap: 1rem;
	text-align: center;
	line-height: 1rem;
	width: 20rem;
	padding: 1rem;
	margin: 1rem;
	box-shadow: 8px 8px 2px 1px rgba(147, 162, 206, 0.2);
}

.bookImage {
	width: 250px;
	/* height: 325px; */
}

/* SINGLE BOOK */
.singleBookContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2vh;
}

.singleBookLayout {
	display: flex;
	justify-content: start;
	gap: 3rem;
	align-items: center;
	border: 3px solid rgb(147, 162, 206);
	background-color: antiquewhite;
	border-radius: 10px;
	width: 70vw;
	min-width: 800px;
	max-width: 1100px;
	justify-self: center;
	box-shadow: 8px 8px 2px 1px rgba(147, 162, 206, 0.2);
}

.singleBookLeft {
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 400px; */
	margin: 0;
	padding: 1rem;
}

.singleBookRight {
	width: 50%;
}

.isAvailable {
	color: rgb(0, 95, 0);
	font-style: italic;
}

.notAvailable {
	color: rgb(157, 32, 32);
	font-style: italic;
}

/* SEARCH */
.nameSearch {
	color: rgb(0, 95, 0);
}


/* TEMPORARY STYLES */
.accountComponent {
	background-color: red;
}

.booksComponent {
	background-color: orange;
}

.loginComponent {
	background-color: yellow;
}

.navigationsComponent {
	background-color: green;
}

.registerComponent {
	background-color: blue;
}

.singleBookComponent {
	background-color: indigo;
}